**/__pycache__
**/.idea/
.vscode/
.gitignore
.git
.github/
docker/
.dockerignore
Makefile
**/_skbuild/
**/dist/
**/*.egg-info/
**/build/
**/cmake-build-debug/
cache/
var/
data/
logs/
.venv/
env/
venv/
