splitstream==1.2.6
boto3~=1.24.89
fastapi==0.110.0
uvicorn[standard]==0.27.1

# ffmpeg-input
ffmpeg-input @ https://github.com/insight-platform/FFmpeg-Input/releases/download/0.2.0/ffmpeg_input-0.2.0-cp310-cp310-manylinux_2_28_x86_64.whl ; platform_machine=='x86_64'
ffmpeg-input @ https://github.com/insight-platform/FFmpeg-Input/releases/download/0.2.0/ffmpeg_input-0.2.0-cp310-cp310-manylinux_2_28_aarch64.whl ; platform_machine=='aarch64'
