/* wrap text in tables */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-nav-content {
    max-width: 70% !important;
}

.rst-content .code-block-caption {
    font-style: normal !important;
    text-align: left !important;
}