name: Build and publish release package

on:
  push:
    branches:
      - develop
    tags:
      - 'v*'

jobs:

  # build savant package and add it to release assets
  build-savant-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: python -m pip install --upgrade pip setuptools wheel build
      - name: Build wheel package
        run: python -m build --wheel
      - name: Upload wheels to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: dist/*.whl
      - name: Release
        if: "startsWith(github.ref, 'refs/tags/')"
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*.whl
